*{
    padding: 0px;
    margin: 0px;
}
.bigbox{
    margin: 20px;
    height: 600px;
    background-color: gainsboro;
}
.verde{
text-align: center;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
height: 150px;
background-color: green;
}
.textverde{
    padding: 40px;
    color: white;
    font-size: 50px;
    text-decoration: none;
}
.azul{
    display: inline-block;
    background-color:#335FDD;
    width:150px;
    height:450px;
    text-align: center;
    padding:20px;
    overflow: hidden;
    margin-left: 50px;
}
.boton1{
    background-color: yellow;
    border-radius: 50px;
    border: 0;
    display: block;
    margin-top: 9px;
    padding: 0px 0px 50px 0px;
    width: 150px;
    height: 40px;
    margin: 20px;
    text-align: center;
    
}
.botones{
    padding: 15px;
    text-decoration: none;

}



